<form
  class="border border-dark-subtle rounded p-3 bg-light-subtle"
  style="max-width: 35rem; margin: 0 auto"
  method="POST"
>
  <h2 class="fs-4 mb-4 d-flex justify-content-center">LOG INTO YOUR ACCOUNT</h2>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" />
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password" />
  </div>
  <div class="d-flex justify-content-end mb-3">
    <button type="submit" class="btn btn-success">LOGIN</button>
  </div>
</form>
